page-setup {
    .setup_div{
        text-align: center;
        margin-top: 4vh;
        font-size: 26px;
    // font-weight: bold;
     }
     .logo_setup{
        width: 35%;
        border-radius: 5vw;
     }
     .setup_logo_div{
        margin-top: 5vh;
    }
    .submit_div{
        margin-top: 2vh;
     }
     .submit_button{
        background-color: #f90;
        color: #000;
     }
}
