page-payment {
    .payment_logo_div{
        margin-top: 5vh;
    }
    .logo_payment{
        width: 35%;
        border-radius: 4vw;
    }
    .finish_div{
        margin-top: 2vh;
    }
    .finish_button{
        background-color: #f90;
        color: #000;
    }
}
